body{
    font-family: sans-serif;
    height:100%;
    width:100%;
    background-color: #1f2a7e;
  }

  .container{
    max-width: 700px;
    height: 350px;
    background: #36f297;
    margin: 90px auto;
    border-radius: 5px;
    text-align: center;
  }

  .container h1{
    font-size: 48px;
    margin-top: 0;
    padding-top: 20px;
    color:blue;
  }


   .roll-dice{
    max-width: 500px;
    height: 350px;
    margin: 0 auto;
  }

  .score-counter{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  .score-counter .player{
    font-size: 32px;
    font-weight: 900;
    color: #1f2a7e;
  }

  .dice-output{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }

  .dice-output .dice{
    border: none;
    padding: 15px 30px;
    box-sizing: border-box;
    font-size: 60px;
    font-weight: 400;
    border-radius: 5px;
    background: rgb(78, 184, 233);
    color: #F0F0F0;
  }


  .dice-output .dice.output1{
    margin-left: 50px;
  }
  .dice-output .dice.output2{
    margin-right: 50px;
  }

  /* .glow{
    box-shadow: rgb(250,50,50) 0px 0px 20px 2px;
  } */

  .play-button{
    width: 50%;
    background: #03a9f4;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    margin-top: 70px;
  }

  
